.bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.baseinfo{
  margin: 16px;
  padding: 16px;
  font-weight: bolder;
}
.baseinfo > .name {
  font-size: 25px;
  padding-bottom: 16px;
}

.basegrid {
  margin-top: 4px;
  margin-bottom: 4px;
}

.attinfo{
  border: 1px solid grey;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.attinfo > .atttitle{
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: bolder;
}

.attbase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 8px 16px 8px 16px
}
.attprogress{
  padding-left:16px;
  padding-right:16px;
  padding-bottom: 16px;
}
.attgrid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 16px;
  margin: 4px;
  font-size: 14px;
  border: 1px solid grey;
}



.storytitle{
  font-size: 18px;
  padding-bottom: 4px;
  padding-top: 8px;
}
.storytext{
  background-color: #FFF;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}